@model TabloidMVC.Models.NotAuthorizedMessage

@{
    ViewData["Title"] = "NotAuthorizedDetails";
}

<h1>Not Authorized</h1>

<div>
    <h4>You May Only Delete Your Own Posts</h4>
    <hr />
   
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
